USE [master]
GO
/****** Object:  Database [ApartmentChain]    Script Date: 16.03.2026 18:37:09 ******/
CREATE DATABASE [ApartmentChain]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApartmentChain', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ApartmentChain.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApartmentChain_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ApartmentChain_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApartmentChain].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApartmentChain]
GO
/****** Object:  Table [dbo].[Apartaments]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartaments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AddressID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[ApartmentNameID] [int] NULL,
 CONSTRAINT [PK_Apartaments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentAddress]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentAddress](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
	[StreetID] [int] NOT NULL,
	[Building] [nvarchar](10) NULL,
 CONSTRAINT [PK_ApartmentAddress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentName]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentName](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ApartmentName] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentPhotos]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentPhotos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[PhotoUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ApartmentPhotos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentType]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ApartmentType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Arrival] [datetime] NOT NULL,
	[Departure] [datetime] NOT NULL,
	[CustomersID] [int] NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[TotalCost] [float] NOT NULL,
	[BookingStatusID] [int] NOT NULL,
	[AmountOfPeople] [int] NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingStatus]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BookingStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MethodOfPay]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MethodOfPay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MethodOfPay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateOFPayment] [datetime] NOT NULL,
	[MethodID] [int] NOT NULL,
	[BookingID] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Region] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[Review] [nvarchar](250) NULL,
	[Rating] [float] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Streets]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Streets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.03.2026 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surename] [nvarchar](100) NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Apartaments] ON 

INSERT [dbo].[Apartaments] ([ID], [AddressID], [TypeID], [Price], [ApartmentNameID]) VALUES (1, 1, 3, 10000, 1)
INSERT [dbo].[Apartaments] ([ID], [AddressID], [TypeID], [Price], [ApartmentNameID]) VALUES (2, 2, 4, 2, 2)
INSERT [dbo].[Apartaments] ([ID], [AddressID], [TypeID], [Price], [ApartmentNameID]) VALUES (3, 3, 2, 3, 3)
SET IDENTITY_INSERT [dbo].[Apartaments] OFF
GO
SET IDENTITY_INSERT [dbo].[ApartmentAddress] ON 

INSERT [dbo].[ApartmentAddress] ([ID], [CountryID], [CityID], [RegionID], [StreetID], [Building]) VALUES (1, 1, 1, 1, 1, N'10')
INSERT [dbo].[ApartmentAddress] ([ID], [CountryID], [CityID], [RegionID], [StreetID], [Building]) VALUES (2, 1, 2, 2, 2, N'29')
INSERT [dbo].[ApartmentAddress] ([ID], [CountryID], [CityID], [RegionID], [StreetID], [Building]) VALUES (3, 1, 3, 3, 3, N'3')
SET IDENTITY_INSERT [dbo].[ApartmentAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[ApartmentName] ON 

INSERT [dbo].[ApartmentName] ([ID], [Name]) VALUES (1, N'Элеганс Классик')
INSERT [dbo].[ApartmentName] ([ID], [Name]) VALUES (2, N'Оазис у Мира')
INSERT [dbo].[ApartmentName] ([ID], [Name]) VALUES (3, N'Луна Вью')
SET IDENTITY_INSERT [dbo].[ApartmentName] OFF
GO
SET IDENTITY_INSERT [dbo].[ApartmentPhotos] ON 

INSERT [dbo].[ApartmentPhotos] ([ID], [ApartmentID], [PhotoUrl]) VALUES (1, 1, N'https://i.pinimg.com/736x/1a/81/d7/1a81d75d8e2dc901c8adc4e7e441e424.jpg')
INSERT [dbo].[ApartmentPhotos] ([ID], [ApartmentID], [PhotoUrl]) VALUES (2, 2, N'https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Leontyevsky_10%2C6_June_2009_01.JPG/1280px-Leontyevsky_10%2C6_June_2009_01.JPG')
INSERT [dbo].[ApartmentPhotos] ([ID], [ApartmentID], [PhotoUrl]) VALUES (3, 3, N'https://img.dmclk.ru/vitrina/owner/dd/5d/dd5dfda4df1c4689bccdc6629f426211.jpg')
SET IDENTITY_INSERT [dbo].[ApartmentPhotos] OFF
GO
SET IDENTITY_INSERT [dbo].[ApartmentType] ON 

INSERT [dbo].[ApartmentType] ([ID], [Type]) VALUES (1, N'Студия')
INSERT [dbo].[ApartmentType] ([ID], [Type]) VALUES (2, N'1х-комнатная')
INSERT [dbo].[ApartmentType] ([ID], [Type]) VALUES (3, N'2х-комнатная')
SET IDENTITY_INSERT [dbo].[ApartmentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([ID], [Arrival], [Departure], [CustomersID], [ApartmentID], [TotalCost], [BookingStatusID], [AmountOfPeople]) VALUES (1, CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-02-01T00:00:00.000' AS DateTime), 1, 1, 320000, 1, 2)
INSERT [dbo].[Booking] ([ID], [Arrival], [Departure], [CustomersID], [ApartmentID], [TotalCost], [BookingStatusID], [AmountOfPeople]) VALUES (2, CAST(N'2026-01-05T00:00:00.000' AS DateTime), CAST(N'2026-01-07T00:00:00.000' AS DateTime), 2, 2, 150000, 1, 3)
INSERT [dbo].[Booking] ([ID], [Arrival], [Departure], [CustomersID], [ApartmentID], [TotalCost], [BookingStatusID], [AmountOfPeople]) VALUES (4, CAST(N'2026-03-04T00:00:00.000' AS DateTime), CAST(N'2026-03-11T00:00:00.000' AS DateTime), 1, 1, 105, 1, 1)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingStatus] ON 

INSERT [dbo].[BookingStatus] ([ID], [Status]) VALUES (1, N'В обработке')
INSERT [dbo].[BookingStatus] ([ID], [Status]) VALUES (2, N'Подтверждено')
INSERT [dbo].[BookingStatus] ([ID], [Status]) VALUES (3, N'Завершено')
SET IDENTITY_INSERT [dbo].[BookingStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([ID], [City]) VALUES (1, N'Москва')
INSERT [dbo].[Cities] ([ID], [City]) VALUES (2, N'Санкт-Петербург')
INSERT [dbo].[Cities] ([ID], [City]) VALUES (3, N'Сочи')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [Country]) VALUES (1, N'Россия')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[MethodOfPay] ON 

INSERT [dbo].[MethodOfPay] ([ID], [Method]) VALUES (1, N'Наличными')
INSERT [dbo].[MethodOfPay] ([ID], [Method]) VALUES (2, N'Безналичными')
SET IDENTITY_INSERT [dbo].[MethodOfPay] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([ID], [DateOFPayment], [MethodID], [BookingID]) VALUES (1, CAST(N'2026-01-01T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Payments] ([ID], [DateOFPayment], [MethodID], [BookingID]) VALUES (2, CAST(N'2026-01-02T00:00:00.000' AS DateTime), 2, 2)
INSERT [dbo].[Payments] ([ID], [DateOFPayment], [MethodID], [BookingID]) VALUES (4, CAST(N'2026-03-14T17:02:47.147' AS DateTime), 1, 10)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([ID], [Region]) VALUES (1, N'Москва')
INSERT [dbo].[Regions] ([ID], [Region]) VALUES (2, N'Санкт-Петербург')
INSERT [dbo].[Regions] ([ID], [Region]) VALUES (3, N'Краснодарский край')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ID], [UserID], [ApartmentID], [Review], [Rating]) VALUES (3, 1, 1, N'Так себе', 3)
INSERT [dbo].[Reviews] ([ID], [UserID], [ApartmentID], [Review], [Rating]) VALUES (4, 2, 1, N'Супер!!!!', 5)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([ID], [Role]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Streets] ON 

INSERT [dbo].[Streets] ([ID], [Street]) VALUES (1, N'Спиридоновка')
INSERT [dbo].[Streets] ([ID], [Street]) VALUES (2, N'Леонтьевский')
INSERT [dbo].[Streets] ([ID], [Street]) VALUES (3, N'Беговая')
SET IDENTITY_INSERT [dbo].[Streets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [Surename], [Birthday], [PhoneNumber], [RoleID], [Login], [PasswordHash]) VALUES (1, N'Филипп', N'Колбазов', CAST(N'1995-06-29T00:00:00.000' AS DateTime), N'+79651242479', 1, N'1', N'1')
INSERT [dbo].[Users] ([ID], [Name], [Surename], [Birthday], [PhoneNumber], [RoleID], [Login], [PasswordHash]) VALUES (2, N'Дмитрий', N'Головин', CAST(N'1992-02-03T00:00:00.000' AS DateTime), N'+79512525712', 2, N'2', N'123456!a')
INSERT [dbo].[Users] ([ID], [Name], [Surename], [Birthday], [PhoneNumber], [RoleID], [Login], [PasswordHash]) VALUES (3, N'Ахметова', N'Маргарита', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'+79684579624', 2, N'3', N'123456!a')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Payments]    Script Date: 16.03.2026 18:37:10 ******/
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [IX_Payments] UNIQUE NONCLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Apartaments]  WITH CHECK ADD  CONSTRAINT [FK_Apartaments_ApartmentAddress] FOREIGN KEY([AddressID])
REFERENCES [dbo].[ApartmentAddress] ([ID])
GO
ALTER TABLE [dbo].[Apartaments] CHECK CONSTRAINT [FK_Apartaments_ApartmentAddress]
GO
ALTER TABLE [dbo].[Apartaments]  WITH CHECK ADD  CONSTRAINT [FK_Apartaments_ApartmentName] FOREIGN KEY([ApartmentNameID])
REFERENCES [dbo].[ApartmentName] ([ID])
GO
ALTER TABLE [dbo].[Apartaments] CHECK CONSTRAINT [FK_Apartaments_ApartmentName]
GO
ALTER TABLE [dbo].[Apartaments]  WITH CHECK ADD  CONSTRAINT [FK_Apartaments_ApartmentType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[ApartmentType] ([ID])
GO
ALTER TABLE [dbo].[Apartaments] CHECK CONSTRAINT [FK_Apartaments_ApartmentType]
GO
ALTER TABLE [dbo].[ApartmentAddress]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentAddress_Cities] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[ApartmentAddress] CHECK CONSTRAINT [FK_ApartmentAddress_Cities]
GO
ALTER TABLE [dbo].[ApartmentAddress]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentAddress_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[ApartmentAddress] CHECK CONSTRAINT [FK_ApartmentAddress_Countries]
GO
ALTER TABLE [dbo].[ApartmentAddress]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentAddress_Regions] FOREIGN KEY([RegionID])
REFERENCES [dbo].[Regions] ([ID])
GO
ALTER TABLE [dbo].[ApartmentAddress] CHECK CONSTRAINT [FK_ApartmentAddress_Regions]
GO
ALTER TABLE [dbo].[ApartmentAddress]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentAddress_Streets] FOREIGN KEY([StreetID])
REFERENCES [dbo].[Streets] ([ID])
GO
ALTER TABLE [dbo].[ApartmentAddress] CHECK CONSTRAINT [FK_ApartmentAddress_Streets]
GO
ALTER TABLE [dbo].[ApartmentPhotos]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentPhotos_Apartment] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartaments] ([ID])
GO
ALTER TABLE [dbo].[ApartmentPhotos] CHECK CONSTRAINT [FK_ApartmentPhotos_Apartment]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Apartaments] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartaments] ([ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Apartaments]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_BookingStatus] FOREIGN KEY([BookingStatusID])
REFERENCES [dbo].[BookingStatus] ([ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_BookingStatus]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customers] FOREIGN KEY([CustomersID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customers]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Booking]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_MethodOfPay] FOREIGN KEY([MethodID])
REFERENCES [dbo].[MethodOfPay] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_MethodOfPay]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Apartaments] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartaments] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Apartaments]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
